body
{
  background-color: #F0EDE6;
  margin:0px;
  padding:0px;

}
 /* -------------navbar -------------*/
 .navbar
 {
   overflow: hidden;
   background-color: white;
   position: fixed;
   top: 0;
   width: 100%;
   opacity:0.9;
   height:60px;

 }
 /* 
   input[type=date] ,textarea,input[type=text],select {
   width: 50%;
   padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
   resize: vertical;
   background-color:#F0EDE6 ;

 }  */


 .navbar a
 {
   float: left;
   display: block;
   color: #5F0038;
   text-align: #B22222;
   padding: 0px 16px;
   text-decoration: none;
   font-size: 17px;

 }

 .navbar a:hover
 {
   text-decoration:underline;
   color:black;
   height:100px;
 }
.cocktail
{
  font-style: oblique;
  color: #5F0038;
  font-family: 'PeachesandCream';
  font-size: 40;
}

#row
{
  padding:20px;
  spacing:50px;
}
#col
{
  padding: 30px;
  spacing: 50px;
}



#table
{
  text-align:center;
  margin-left: 50px;

}

#cocktail_name
{
  color: #5F0038;
  font-family: 'PeachesandCream';
  transition: transform .2s;
  font-size: 25px;
}
#cocktail_name:hover
{
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
}


#image
{
   border: 2px solid #5F0038;
   border-radius: 20px;
   transition: transform .2s;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 50px;
   margin-top:10px;
}

#image:hover
{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
}
